@use '@styles/vars' as *;
@use '@styles/mixins' as *;

.h1 {
  font-size: vc(60);
  font-weight: 600;
  font-family: $font-space;

  @include mobile {
    font-size: vc(40);
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: vc(1700);

  @include desktop {
    padding-right: vc(40);
    padding-left: vc(40);
  }

  @include devices {
    padding-right: vc(15);
    padding-left: vc(15);
  }
}

.page {
  padding-top: vc(130);
  padding-bottom: vc(100);
}
