@use '@styles/vars' as *;
@use '@styles/mixins' as *;

.h1 {
  font-size: vc(48);
  font-weight: 600;
  font-family: $font-space;

  @include mobile {
    font-size: vc(32);
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: vc(1700);

  @include desktop {
    padding-right: vc(40);
    padding-left: vc(40);
  }

  @include devices {
    padding-right: vc(15);
    padding-left: vc(15);
  }
}

.page {
  padding-top: vc(130);
  padding-bottom: vc(100);
  text-align: center;

  &__container {
    display: flex;
    flex-direction: column;
    gap: vc(20);
    align-items: center;
  }
}

.text-link {
  text-decoration: underline;
  // text-decoration-color: color-mix(in srgb, currentColor 60%, transparent);
  text-underline-offset: 0.05em;
  text-decoration-thickness: 0.055em;

  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}
