@use '@styles/mixins' as *;

.control-panel {
  display: flex;
  align-items: center;
}

.text-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.3em;

  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}

.icon-link {
  margin-left: vc(15);
}
